##
# {{ ansible_managed }}
#
[Unit]
Description=Kibana {{ kibana.version }}

[Service]
Type=simple
User={{ kibana.run_user }}
Group={{ kibana.run_group }}
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/kibana
# EnvironmentFile=-/etc/sysconfig/kibana
ExecStart={{ kibana.install_dir }}/bin/kibana "-c {{ kibana.config_path_map[kibana.major_version] }}/{{ kibana.config_file }}"
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target


