##
# {{ ansible_managed }}
#
[kibana-{{ kibana.major_version }}]
name=Kibana repository for {{ kibana.version }}.x packages
baseurl=https://packages.elastic.co/kibana/{{ kibana.major_version }}/centos
gpgcheck=1
gpgkey={{ elasticsearch.gpg_key }}
enabled=1
